:root {
  --white: #fff;
  --lightGray: #f3f9fa;
  --lightGreen: #c5e4e7;
  --green: #3d6666;
  --grey: #5e7a7d;
  --grayisGreen: #26c2ae;
  --darkgray1: #00474b;
  --darkgrey2: #0d686d;
  --orangeRed: #e17457;
}
