@import "./Components/CSS/variables.css";
#root:has(.app) {
  background-color: var(--lightGreen);
}
.app {
  color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-title {
  margin-top: 50px;
  margin-bottom: 40px;
}

.splitter-card {
  background-color: var(--white);
  border-radius: 25px 25px 0 0;
}

@media (min-width: 920px) {
  .splitter-card {
    width: 920px;
    height: 481px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    margin-bottom: 240px;
  }
}
