#root:has(.app) {
  background-color: #c5e4e7;
}
.app {
  color: #3d6666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splitter-card {
  background-color: #ffffff;
  width: 375px;
  height: 789px;
  border-radius: 25px 25px 0 0;
}
.calculate-card {
  margin: 32px 32px;
}
.result-card {
  width: 327px;
  height: 257px;
  margin: 0px 24px 32px 24px;
  background-color: #00474b;
  border-radius: 15px;
}
.bill-input {
  width: 311px;
  height: 48px;
  font-size: 24px;
}
.bill-input::placeholder {
  opacity: 35%;
  font-size: 24px;
  line-height: 35.54px;
  margin-right: 17px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.hidden {
  display: none;
}
.visible {
  display: block;
  color: #e17457;
}
.labels {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.redBorder {
  border: 1px solid #e17457 !important;
}
.btns {
  display: grid;
  grid-template-columns: 146.63px 146.63px;
  gap: 16.56px;
  margin-bottom: 32px;
}
.tip-percetage {
  all: unset;
  padding: 6px 17.55px 6px 16.29px;
  text-align: center;
  background-color: #00474b;
  color: #ffffff;
  font-size: 24px;
  border-radius: 5px;
  border: none;
}
.tip-percetage-onclick {
  background-color: #26c2ae;
  color: #00474b;
}
.label-text {
  font-size: 16px;
  color: #5e7a7d;
  margin-top: 32px;
  line-height: 23.7px;
}
.num-text {
  font-size: 16px;
  color: #5e7a7d;
  line-height: 23.7px;
}
.resetBtn {
  background-color: #0d686d;
  color: #00474b;
  border-radius: 5px;
  width: 281px;
  height: 48px;
  cursor: pointer;
  margin-bottom: 22px;
  margin-left: 22px;
  border: none;
  font-size: 20px;
}
.reset-btn-active {
  background-color: #26c2ae;
}
.resetBtn:hover {
  background-color: #9fe8df;
}
/* .reset-btn-clicked {
  background-color: #9fe8df;
} */
.resultCardText {
  color: #ffffff;
  font-size: 16px;
  line-height: 23.7px;
}
.person {
  color: #7f9d9f;
  font-size: 13px;
}
.number {
  color: #26c2ae;
  font-size: 32px;
}
.custom {
  background-color: #f3f9fa;
  font-size: 24px;
}
.custom::placeholder {
  margin-right: 15px;
}
.result-value {
  display: flex;
  flex-direction: column;
  margin: 37px 22px 32px 24px;
}
.amount-value,
.total-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  position: absolute;
  left: 6.19%;
  right: 90.64%;
  top: 35.15%;
  bottom: 32.65%;
}
.input {
  position: relative;
}
